<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
        <title>Codigo qr</title>
    </head>
    <body>
        <h1 align="center">Codigo QR para pagar</h1>
        <p>Codigo qr:</p>
        <p th:text="${qrPath}"></p>

        <p>Id movimiento:</p>
        <p th:text="${idMovimiento}"></p>

        <p>Estado QR:</p>
        <p th:text="${estadoQr}"></p>

        <!--<img  align="center" width="170px" height="170px" th:src="@{/qrcode.png}">-->
        <!--<img  align="center" width="170px" height="170px" th:src="@{'/qrcode'+${idQr}+'.png'}">-->
        <img  align="center" width="170px" height="170px" th:src="@{'/qrcode'+${idQr}+'.png'}">
        <!--<img width="70px" height="70px" th:src="@{qrcode.png}">-->
        <button align="center" th:onclick="|window.location.href='/finalizando-pago-qr?movimiento=${idMovimiento}'|">Pagar</button>
    </body>
</html>